.container {
  background: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.express {
  position: relative;
}

.arrow {
  position: absolute;
  top: 24px;
  left: 32px;
  transform: rotate(180deg);
}

.dot-red {
  fill: "red";
}

.dot-yellow {
}

.dot-green {
}
