.container {
  background: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}

.express {
  position: relative;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(20deg);
  }
  70% {
    transform: rotate(40deg);
  }
  80% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}

.arrow {
  position: absolute;
  top: 24px;
  left: 32px;
}

.arrow-rotates {
  animation: 3s rotate ease-in-out infinite;
}

@keyframes animate-coffee {
  0% {
    height: 0;
  }
  100% {
    height: 40px;
  }
}

@keyframes animate-coffee-overlay {
  0% {
    top: 192px;
    opacity: 1;
  }
  100% {
    top: 152px;
    opacity: 1;
  }
}

.coffee {
  position: absolute;
  width: 10px;
  height: 0;
  margin: auto;
  top: 192px;
  left: -1px;
  right: 0;
}

@keyframes animate-coffee-content {
  from {
    transform: translateY(60px);
  }
  to {
    transform: translateY(0);
  }
}

.coffee-content {
  fill: brown;
  transform: translateY(60px);
}

.coffee {
  background: brown;
}

.animate-coffee.coffee {
  animation: 0.3s animate-coffee ease-in-out forwards;
}

.animate-coffee.coffee-content {
  animation: 5s animate-coffee-content ease-in-out forwards;
}

.make-coffee-btn {
  padding: 12px;
  position: absolute;
  bottom: 12px;
  left: 12px;
  background: green;
  color: black;
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  text-transform: uppercase;
}

.make-coffee-btn:disabled {
  background: gray;
}
